body{
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(253deg, #2C1E4A 25%, #8567CAFF 98%);
}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(65, 43, 112);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #000;
  }
img{
    width: 100%;
}
.logo-div{
    width: 70%;
}
.menu-text{
    list-style: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Genos', sans-serif;
}
.login_button{
    background-color: rgb(65, 43, 112);
    border: 1px solid rgb(65, 43, 112);
    border-radius: 30px;
    transition: 0.3s ease-in;
    font-weight: 900;
    font-family: 'Genos', sans-serif;
}
.login_button:hover{
    background-color: white;
    border: 1px solid white;
    color: rgb(65, 43, 112) !important;
    transition: 0.3s ease-in;

}

.login_button_mobile{
    background-color: rgb(65, 43, 112);
    border: 1px solid rgb(65, 43, 112);
    border-radius: 0px;
    transition: 0.3s ease-in;
    font-weight: 900;
    font-family: 'Genos', sans-serif;
}
.login_button_mobile:hover{
    background-color: white;
    border: 1px solid white;
    color: rgb(65, 43, 112) !important;
    transition: 0.3s ease-in;

}
.menu-row{
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: block;
}
.mobile-menu{
    display: none;
}
.hmbrgr-menu{
    font-size: 35px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}
.mobile-menu-container{
    background-color: white;
    width: 50%;
    height: 100vh;
    display: none;

}
.mobile-menu-passive{
    position: absolute;
    left: -500px;
    top:0;       

}
.mobile-menu-active{
    position: absolute;
    left: 0; 
    top:0;       
}
.mobile-menu-text{
    color: black;
    font-weight: 700;
    font-size: 20px;
    list-style: none;
    font-family: 'Genos', sans-serif;
}
.slide-text-container{
    width: 50%;
}
.slide-text{
    color: white;
    font-size: 80px;
    font-weight: 999;
    line-height: 90px;
    font-family: 'Genos', sans-serif;
}
.gif-div{
    width: 40%;
    display: block;

}
.gif-div-mobile{
    display: none;
}
.slide-small-text{
    color: white;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Genos', sans-serif;
}
.slide-container{
    flex-direction: row;
}
.team-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.margin-div{
    height: 200px;
}
.team-img-gif{
    width: 250px;
    z-index: -2;
    position: absolute;
}
.about-gif{
    width: 80%;
}
.team-title{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Genos', sans-serif;
}
.about-title{
    font-size: 90px;
    color: white;
    font-weight: 900;
    line-height: 90px;
    font-family: 'Genos', sans-serif;
}
.about-text{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: white;
    width: 100%;
    font-family: 'Genos', sans-serif;
}
.team-404{
    font-weight: 900;
    color: rgb(215, 60, 190);
    font-size: 30px;
    font-family: 'Genos', sans-serif;
}
.custom-hr{
    width: 80%;
    height: 1px;
    background-color: lightgray;
}
.sorun-cozum{
    font-weight: 900;
    color: white;
    font-size: 25px;
    font-family: 'Genos', sans-serif;
}
.sorun-cozum-title{
    font-weight: 900 !important;
    color: rgb(215, 60, 190);
    font-size: 30px; 
    font-family: 'Genos', sans-serif;
}
.custom-card{
    border: 1px solid lightgray;
    height: 400px;
    width: 90%;
}
.contact-gif{
    width: 70%;
    margin-top: 25%;
}
.contact-title{
    font-size: 65px;
    font-weight: 900;
    color: white;
    font-family: 'Genos', sans-serif;
}
.mail{
    border: 1px solid lightgray;
    width: 70%;
}
.mail-link{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Genos', sans-serif;
}
.qr{
    width: 100px;
}
.qr-text{
    font-size: 30px;
    font-weight: 800;
    color:white;
    font-family: 'Genos', sans-serif;
}
.mobile-gap{
    gap: 0;
}
.modal-content{
    width: 1000px;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(253deg, #2C1E4A 25%, #8567CAFF 98%);
    color: white;
}
.modal-dialog{
    max-width:1000px;
}
.btn-userForm{
    background-color: white;
    border: 1px solid white;
    color: rgb(65, 43, 112) !important;

    border-radius: 30px;
    transition: 0.3s ease-in;
    font-weight: 900;
    font-family: 'Genos', sans-serif;
}
.btn-userForm:hover{
    background-color: rgb(65, 43, 112);
    border: 1px solid rgb(65, 43, 112);
    color:white !important;

    transition: 0.3s ease-in;

}
.dropdown-item{
    margin-top: 5px;
    font-weight: 700;
    font-size: 20px;
}
.news_history_container{
    background-color: #24283b;
    max-height: 750px;
    overflow-y: auto;
    padding: 0 !important;
    border-radius: 5px;
}
.news_history_title{
    border-bottom: 1px solid rgb(29, 28, 28);
    padding: 10px;
    background-color: #0d1421;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.news_time{
    font-size: 10px !important;
    width: 40%;
    font-size: 13px;

}
.news_history_content_title{
    width: 60%;
    font-size: 13px;
}
.news_history_content{
    background-color: rgb(65, 43, 112);
    border-radius: 10px;
    color: lightcyan;
    padding: 10px;
    border: 1px solid rgb(29, 28, 28);
    cursor: pointer;

}
.news_content_text{
    font-size: 12px;
}
.add_text_icon{
    color: lightcyan;
    font-size: 20px;
    cursor: pointer;
}
.news_content{
    background-color: #24283b;
    border-radius: 5px;
    border: 1px solid rgb(29, 28, 28);
    max-height: 750px;
    color: white;
    overflow-y: auto;
}
.content-none{
 display: none !important;   
}
.content-block{
    display: block !important;   
}
.news_content_see{
    background-color: #24283b;
    border-radius: 5px;
    border: 1px solid rgb(29, 28, 28);
    max-height: 750px;
    padding: 0;
    margin: 0;
    overflow-y: auto;

}
.see_message_title{
    border-bottom: 1px solid rgb(29, 28, 28);
    height: 70px;
    padding: 5px;
    background-color: #0d1421;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}
#seeNews .cke_chrome {
width: 100%;
}
.content_logo{
    position: absolute;
    filter: opacity(0.1);
    width: 50%;
    left: 21%;
}
#seeNews .cke_contents{
    height: 350px !important;
}
.form-control{
    background-color: #0d1421;
    color: white;
}
.form-control:focus{
    background-color: #0d1421;
    color: white;
}
.news_content_default{
    background-color: #24283b;
    border-radius: 5px;
    border: 1px solid rgb(29, 28, 28);
    height: 750px;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
}
.hello_ai{
    font-size: 70px;
    font-weight: 700;
    color: rgb(136, 134, 134);
}
.ckeditor-content p, .ckeditor-content span, .ckeditor-content h1, .ckeditor-content h2, .ckeditor-content h3, .ckeditor-content h4, .ckeditor-content h5, .ckeditor-content h6, .ckeditor-content b, .ckeditor-content i{
    margin: 0 !important;
    padding: 0 !important;
}
.last_news_see_text{
    color: white;
    line-height: 30px;;
}
.form-control:disabled {
    background-color: #0d1421;
    opacity: 1;
    color: #c1c1c0;
}
.cat_list{
    width: 30% !important;
}
@media only screen and (max-width: 997px) {
    .hello_ai{
        font-size: 25px;
    }
    .last_news_see_text{
        font-size: 15px;
    }
    .see_message_title{
        flex-direction: column;
        justify-content: start !important;
        text-align: start !important;
        align-items: start !important;
        height: 100px;
    }
    .last_news_button{
        margin-bottom: 0.5rem;
        margin-right: 1.5rem !important;
    }
    .modal-content{
        width: 100%;
    }
    .modal-dialog{
        max-width:    var(--bs-modal-width);
    }
    .menu-row{
        text-align: center;
    }
    .menu{
    display: none;
    }
    .mobile-menu{
        display: block;
    }
    .logo-div{
        display: flex;
        justify-content: center;
    }
    .mobile-menu-container{
    background-color: white;
    width: 50%;
    height: 100vh;
    display: block;
    }
    .gif-div-mobile{
        display: block;
        width: 60%;

    }
    .gif-div{
        display: none;
    }
    .cat_list{
        width: 100% !important;
    }
    .slide-container{
    flex-direction: column;
    }
    .slide-text {
        font-size: 45px;
        font-weight: 999;
        line-height: 40px;
    }
    .slide-small-text{
        line-height: 40px;

    }
    .contact-gif{
        margin-top: 0;
    }
    .mail{
        width: 100%;
    }
    .mobile-gap{
        gap: 100px;
    }
    .news_content{
        height: 100%;
    }
    .news_history_container{
        height: 100%;
    }
    .news_content_see{
        height: 100%;
    }
    .news_content_default{
        height: 100%;
    }
    .content_logo{
        width: 30%;
        left: 35%;
    }

}